asdf.txt
# help i created a file called nul on accident and i can't delete it
nul

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/rsc/

# Files from Forge MDK
forge*changelog.txt
asdf.txt
